
.carousel-item{

    background-color: white;
    border-radius: 15px;
    min-width: 600px;
    min-height: 400px;
}
.carousel{
    margin-top: -50px;
    margin-left: 130px;
    min-width: 80vw;
    min-height: 400px;
    margin-bottom: 50px;
}