
.carousel-item{


    border-radius: 15px;
    min-width: 600px;
    min-height: 400px;
}
.carousel{
    margin-top: -50px;
    margin-left: 130px;
    min-width: 80vw;
    min-height: 400px;
    margin-bottom: 50px;
}

.item-mapa{
  height: 5px;
  width: 8px;
  padding-left: 10px;
  padding-right:-20px;
}

.title-mapa{
    color:#23717E;
    margin-top: 10px;
    margin-left: 15px;
}