
.carousel-item{
    border-radius: 15px;
    min-width: 800px;
    min-height: 600px;
}
.carousel{
    margin-top: -50px;
    margin-left: 130px;
    min-width: 80vw;
    min-height: 400px;
}

.item-mapa{
  height: 5px;
  width: 8px;
  padding-left: 10px;
  padding-right:-20px;
}

.title-mapa{
    color:#23717E;
    margin-top: 10px;
    margin-left: 15px;
}

.arrow-scroll{
    color: #23717E;
    margin-top: 5px;
    margin-left: 20px;
}

.horizontal{
    display: flex;
    margin-bottom: -90px;
}