@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.slash{
    max-width: 90px;
    margin-left: 60px;
    z-index:1;
  }
  
  .description{
  position: relative;
  margin-left: 138px;
  margin-top: -10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #23717E;
  margin-bottom: 60px;
  z-index:1;
  }
  
  .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    z-index:1;
    }

   .title-header{
    align-items: center;
    justify-content: center;
    display: flex;
    z-index:1;
    margin-bottom: 70px;
   }
  
  .header-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index:1;
    width: 100vw;
    height: 100vh;
    background-color:#7d7b7750 ;
  }
  
  .header-description{
  width: 568px;
  height: 113px;
  left: 355px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color:white;
  z-index:1;
  }

  .bg-model{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index:0;
  }

  .rectangle{
    background-color: #F7F1E5;
  width: 100vw;
    height: 150px;
    z-index: 1;
  }