@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.slash{
    max-width: 90px;
    margin-left: 60px;
  }
  
  .description{
  position: relative;
  left: 138px;
  margin-top: -70px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 38px;
  color: #23717E;
  }
  
  .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    }
  
  .header-content {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
  }
  
  .header-description{
  width: 568px;
  height: 113px;
  left: 355px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #2D8897;
  top: 200px;
  }

 

