.mobility_container{
    display: flex;
}
.tgrup{
    max-width: 500px;
    padding-left: 138px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.mobility_container{
    color: #23717E;
}
h2{
    padding-top: 50px;
}

.description-mobility{
    position: relative;
    margin-right: 20px;
    margin-top: -10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    color: #23717E;
    margin-bottom: 60px;
line-height: 29px;
    z-index:1;
    max-width: 500px;
}