@media only screen 
  and (device-width: 390px) 
  and (device-height: 844px) 
  and (-webkit-device-pixel-ratio: 3) {.search{
    margin-left: -100px;
}
.search h2{
    font-size: 40px;
    max-width: 300px;
line-height: 1.5;
padding-bottom: 50px;}
.description{
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 38px;
    color: #23717E;
    margin-bottom: 60px;
    z-index:1;
    max-width: 300px;
}}